@import 'src/theme/helpers';

.main {
  display: flex;
  flex-direction: column;
  @include arrayProps((
          gap: 20px,
          padding: '20px 24px' null null null '60px 120px',
  ));

  h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
  }

  --swiper-pagination-bottom: 10px
}


.casesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-auto-flow: row;
  grid-template-areas:
    "a b c c"
    "a d d d";

  @include arrayProps((
          gap: null 12px null 24px,
  ))
}

.a {
  grid-area: a;

  img {
    @include arrayProps((
            height: 480px 322px 430px 610px,
    ))
  }
}

.b {
  grid-area: b;

  img {

    @include arrayProps((
            height: 480px 150px 207px 290px,
    ))
  }
}

.c {
  grid-area: c;

  img {
    @include arrayProps((
            height: 480px 150px 207px 290px,
    ))
  }
}

.d {
  grid-area: d;

  img {
    @include arrayProps((
            height: 480px 150px 207px 290px,
    ))
  }
}

.a, .b, .c, .d {
  position: relative;
  overflow: hidden;


  &:hover img {
    filter: brightness(1) grayscale(0);
  }

  &:hover .title {
    opacity: 0;
  }

  img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    object-position: center;
    filter: brightness(0.5) grayscale(1);
    cursor: pointer;
    transform: scale(1.01);
    transition: filter .4s linear;
    -webkit-transition: -webkit-filter .4s linear
  }
}

.slider {
  max-width: 100vw;
}

.swiper {
  max-width: 100%;
  padding-bottom: 50px;
}


.title {
  z-index: 20;
  position: absolute;

  color: white;
  transition: opacity .2s linear;

  @include arrayProps((
          font-size: 36px 19px 26px 36px,
          top: 40px 20px 30px 44px,
          left: 30px 10px 15px 30px,
          padding-right: null null 20px 30px,
  ))
}

