/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/_components/connection/connection.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.connection_connection__Zy34t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff7a00;
  gap: 26px;
  padding: 30px 24px;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 768px) {
  .connection_connection__Zy34t {
    padding: 45px 100px;
  }
}
@media (min-width: 1024px) {
  .connection_connection__Zy34t {
    gap: 30px;
    padding: 60px 115px;
    border-radius: 40px 40px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .connection_connection__Zy34t {
    gap: 60px;
    padding: 60px 120px;
  }
}
.connection_connection__Zy34t .connection_text__D14Ep {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #1e1e1e;
  text-align: center;
  font-size: 21px;
}
@media (min-width: 768px) {
  .connection_connection__Zy34t .connection_text__D14Ep {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .connection_connection__Zy34t .connection_text__D14Ep {
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .connection_connection__Zy34t .connection_text__D14Ep {
    max-width: 900px;
    font-size: 42px;
  }
}
@media (min-width: 1920px) {
  .connection_connection__Zy34t .connection_text__D14Ep {
    max-width: 941px;
    font-size: 48px;
  }
}
.connection_connection__Zy34t .connection_itemsWrap__FlrQE {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 13px;
}
@media (min-width: 768px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE {
    width: 415px;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE {
    width: 728px;
    gap: 24px;
  }
}
@media (min-width: 1920px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE {
    width: 732px;
  }
}
.connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_item__K3p1Q {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background: #1e1e1e;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_item__K3p1Q {
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_item__K3p1Q {
    font-size: 24px;
  }
}
.connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_item__K3p1Q .connection_icon__ZFs6q {
  width: 13px;
  height: 13px;
}
@media (min-width: 1024px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_item__K3p1Q .connection_icon__ZFs6q {
    width: 24px;
    height: 24px;
  }
}
.connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_rowWrap__CPb6v {
  display: flex;
  gap: 24px;
  gap: 13px;
}
@media (min-width: 768px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_rowWrap__CPb6v {
    gap: 24px;
  }
}
.connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_rowWrap__CPb6v .connection_itemRow__w21IS {
  width: 100%;
}
.connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_rowWrap__CPb6v .connection_itemRow__w21IS .connection_icon__ZFs6q {
  width: 13px;
  height: 13px;
}
@media (min-width: 1024px) {
  .connection_connection__Zy34t .connection_itemsWrap__FlrQE .connection_rowWrap__CPb6v .connection_itemRow__w21IS .connection_icon__ZFs6q {
    width: 24px;
    height: 24px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/_components/modal/modal.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_modalWrapper__3akgc {
  position: absolute;
}

.modal_background__6rpWo {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal_centered__QkLPL {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_modal__L3VW0 {
  background-color: #2f2f2f;
  padding: 24px;
  width: 285px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .modal_modal__L3VW0 {
    width: 625px;
  }
}
@media (min-width: 1024px) {
  .modal_modal__L3VW0 {
    width: 928px;
    border-radius: 40px;
  }
}
@media (min-width: 1440px) {
  .modal_modal__L3VW0 {
    padding: 48px;
    width: 1034px;
  }
}
@media (min-width: 1920px) {
  .modal_modal__L3VW0 {
    width: 1680px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/_components/exportCards/exportCards.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.exportCards_cards__rQsQl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 30px 0;
}
@media (min-width: 768px) {
  .exportCards_cards__rQsQl {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .exportCards_cards__rQsQl {
    gap: 24px;
    margin: 30px 0 60px 0;
  }
}
.exportCards_cards__rQsQl .exportCards_card__DTx3U {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2B2B2B;
  transition: transform 0.1s;
  cursor: pointer;
  box-shadow: 0 12px 27px 0 rgba(0, 0, 0, 0.1), 0 49px 49px 0 rgba(0, 0, 0, 0.09), 0 111px 66px 0 rgba(0, 0, 0, 0.05), 0 197px 79px 0 rgba(0, 0, 0, 0.01), 0 307px 86px 0 rgba(0, 0, 0, 0);
  padding: 10px 41px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U {
    padding: 24px 76px;
  }
}
@media (min-width: 1440px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U {
    padding: 39px 114px;
    border-radius: 20px;
  }
}
.exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_img__iBKbc {
  object-fit: cover;
  width: 150px;
  height: 111px;
}
@media (min-width: 1024px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_img__iBKbc {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_img__iBKbc {
    width: 350px;
    height: 350px;
  }
}
.exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_title__EJF5L {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}
@media (min-width: 1024px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_title__EJF5L {
    font-size: 20px;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_title__EJF5L {
    font-size: 36px;
  }
}
.exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_btn__XgkNy {
  background-color: #FF7A00;
  cursor: pointer;
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  width: 100%;
  box-shadow: 0 11px 23px 0 rgba(0, 0, 0, 0.1), 0 42px 42px 0 rgba(0, 0, 0, 0.09), 0 95px 57px 0 rgba(0, 0, 0, 0.05), 0 168px 67px 0 rgba(0, 0, 0, 0.01), 0 263px 74px 0 rgba(0, 0, 0, 0);
  transform: scale(1);
  transition: transform 0.1s;
  padding: 15px 18px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_btn__XgkNy {
    padding: 15px 20px;
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_btn__XgkNy {
    border-radius: 15px;
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_btn__XgkNy {
    padding: 30px 40px;
    border-radius: 20px;
  }
}
.exportCards_cards__rQsQl .exportCards_card__DTx3U .exportCards_btn__XgkNy:active {
  transform: scale(0.97);
}
.exportCards_cards__rQsQl .exportCards_card__DTx3U:hover {
  transform: scale(1.01);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/_components/guarantees/guarantees.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.guarantees_guarantees__k794W {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W {
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .guarantees_guarantees__k794W {
    margin-bottom: 60px;
  }
}
.guarantees_guarantees__k794W .guarantees_title__ziAqa {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  font-size: 24px;
  max-width: 100%;
  padding: 30px 0 15px 0;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa {
    font-size: 36px;
    padding: 30px 0;
  }
}
@media (min-width: 1440px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa {
    padding: 60px 0 30px 0;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa {
    font-size: 48px;
    max-width: 65%;
  }
}
.guarantees_guarantees__k794W .guarantees_title__ziAqa .guarantees_accent__vyYYk {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ff7a00;
  font-size: 24px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa .guarantees_accent__vyYYk {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa .guarantees_accent__vyYYk {
    font-size: 36px;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_title__ziAqa .guarantees_accent__vyYYk {
    font-size: 48px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1440px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E {
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E {
    gap: 62px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L {
  display: flex;
  cursor: pointer;
  gap: 10px;
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L {
    gap: 30px;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L {
    gap: 45px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_icon__7nPo_ {
  width: 21px;
  height: 20px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_icon__7nPo_ {
    width: 35px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_icon__7nPo_ {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_icon__7nPo_ {
    width: 42px;
    height: 26px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_docs__3CYy_ {
  width: 21px;
  height: 20px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_docs__3CYy_ {
    width: 35px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_docs__3CYy_ {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_docs__3CYy_ {
    height: 35px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_staff__e2jL_ {
  width: 21px;
  height: 20px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_staff__e2jL_ {
    width: 35px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_staff__e2jL_ {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L #guarantees_staff__e2jL_ {
    height: 35px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 100%;
}
@media (min-width: 1440px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw {
    gap: 10px;
    max-width: 85%;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw {
    max-width: 430px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw .guarantees_title__ziAqa {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw .guarantees_title__ziAqa {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw .guarantees_title__ziAqa {
    font-size: 20px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw .guarantees_text__0XENL {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  font-size: 12px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw .guarantees_text__0XENL {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L .guarantees_description__gN7Vw .guarantees_text__0XENL {
    font-size: 20px;
  }
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_items__Bnqgw .guarantees_item__98t7L:hover {
  filter: invert(48%) sepia(96%) saturate(2234%) hue-rotate(2deg) brightness(105%) contrast(106%);
  transition: all 0.2s ease-in-out;
}
.guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_img__Snk3y {
  background: radial-gradient(50% 50% at 50% 50%, #fff 40%, rgba(255, 255, 255, 0) 100%);
  width: 247px;
  height: 247px;
}
@media (min-width: 768px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_img__Snk3y {
    width: 274px;
    height: 274px;
  }
}
@media (min-width: 1024px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_img__Snk3y {
    width: 340px;
    height: 340px;
  }
}
@media (min-width: 1920px) {
  .guarantees_guarantees__k794W .guarantees_content__tr02E .guarantees_img__Snk3y {
    width: 485px;
    height: 485px;
  }
}

.guarantees_animImg__VmgRX {
  background: radial-gradient(50% 50% at 50% 50%, #fff 40%, rgba(255, 255, 255, 0) 100%);
  width: 247px;
  height: 247px;
  animation: guarantees_img__Snk3y 1.2s;
}
@media (min-width: 768px) {
  .guarantees_animImg__VmgRX {
    width: 274px;
    height: 274px;
  }
}
@media (min-width: 1024px) {
  .guarantees_animImg__VmgRX {
    width: 340px;
    height: 340px;
  }
}
@media (min-width: 1920px) {
  .guarantees_animImg__VmgRX {
    width: 485px;
    height: 485px;
  }
}

@keyframes guarantees_img__Snk3y {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/export/styles.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__vr6jf .styles_title__DruNh {
  font-size: 248px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  font-size: 36px;
  padding: 30px 0;
}
@media (min-width: 1440px) {
  .styles_wrapper__vr6jf .styles_title__DruNh {
    font-size: 48px;
    padding: 60px 0 0 0;
  }
}
